<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" type="image/x-icon">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js">
</head>
<body>
    {% include "header.html" %}
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h1>Edit Post</h1>
                    <form method="POST" action="{{ url_for('edit_post', post_id=post.id) }}">
                        {{ form.hidden_tag() }}
                        <div class="form-group mb-3">
                            <label for="title">Blog Post Title</label>
                            {{ form.title(class="form-control", placeholder="Enter title...") }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="subtitle">Subtitle</label>
                            {{ form.subtitle(class="form-control", placeholder="Enter subtitle...") }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="author">Your Name</label>
                            {{ form.author(class="form-control", placeholder="Enter your name...") }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="img_url">Blog Image URL</label>
                            {{ form.img_url(class="form-control", placeholder="Enter image URL...") }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="body">Blog Content</label>
                            {{ form.body(class="form-control", placeholder="Enter content...") }}
                        </div>
                        <div class="d-flex justify-content-end">
                            {{ form.submit(class="btn btn-primary text-uppercase", style="background-color: maroon; color: white; border: none;") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    {% include "footer.html" %}
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('body');
    </script>
</body>
</html>
